html,


@font-face {
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    src: url('PTS55F-webfont.eot');
    src: url('PTS55F-webfont.eot?#iefix') format('embedded-opentype'),
         url('PTS55F-webfont.woff') format('woff'),
         url('PTS55F-webfont.ttf') format('truetype'),
         url('PTS55F-webfont.svg#PTS55F') format('svg');
}



body {

}

.nav
ul {
list-style-type: none;
 display: flex;
justify-content: space-around;
text-algin: right;
 }
