html,


@font-face {
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    src: url('PTS55F-webfont.eot');
    src: url('PTS55F-webfont.eot?#iefix') format('embedded-opentype'),
         url('PTS55F-webfont.woff') format('woff'),
         url('PTS55F-webfont.ttf') format('truetype'),
         url('PTS55F-webfont.svg#PTS55F') format('svg');
}


body {
width=80%
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
background-color:#ffffff ; 
background-position:center bottom;
color:  #434343 ; 
}



/* Change navbar styling on scroll */
.navbar.scroll {
    background: #555555;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar.scroll .nav-link {
    color: #ffffff;
}

.navbar.scroll .nav-link:hover,
.navbar.scroll .nav-link:focus {
    color: #ffffff;
    text-decoration: none;
}

.navbar.scroll .navbar-brand {
    color: #ffffff;
}






h1 {

 font-size: 200%;
 
color: #434343 ;
 
text-align: center;

 }



li {

color: #434343;
}


a.type0 {
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
display:flex;
width:120px;
 float:left;      
 border-bottom: 3px solid #d02630; 
color: #d02630
;
text-decoration:none;
text-align:center;
 padding:5px;
}

a.type0:hover,a.type0:focus, a.type0:active {

    /* Les liens au survol, au focus, et actifs : on leur donne la couleur rouge pour l'exemple */
display:flex;
 float:left;   
 border-bottom: 3px solid #d02630;  
width:120px; 
color: #d02630;

font-weight:bold;
}



a.type2 { 

color : #d02630;
text-decoration:none;

}

a.type2:hover {
color : #d02630;
text-decoration:none;

font-weight:bold;
}



h2 {

 color:#434343;
}

h3 {

 color: #434343;
}









